{% extends "base.html" %}
{% load static %}

{% block title %}RB.Dev.Web{% endblock title %}

{% block content %}
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="static/assets/img/portfolio/purbeurre.png" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="static/assets/img/portfolio/collectionpop.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">À propos</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">Développeur d'application web junior (Python/Django) curieux et créatif,
                Auto entrepreneur geek et avant tout passionné.<br>
                Ayant récemment effectuer une formation de développeur d'application Python/Django je vous propose mes compétences en matières de développement,<br>
                je prends plaisir à relever de nouveaux challenges.<br> 
                Consciencieux et minutieux,
                je recherche toujours LA solution pour vous satisfaire!</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">Ce que je vous propose :<br> 
                - La réalisation d'une analyse technique pour identifier, comprendre et analyser vos besoins.<br>
                - La conception de votre site internet ou application, en imaginant et en créant l'architecture technique de ce site/application.<br>
                - La gestion et le suivi de votre site web ou application.<br>
                - Le déploiement de votre site ou application.<br>
                - L'apport d'une aide technique en vous fournissant une documentation technique et fonctionnelle.
                </p></div>
        </div>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Me contacter</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section -->
        <div class="row text-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a class="text-muted" href="mailto:benjamin.rejaud@gmail.com" style="color:black">benjamin.rejaud@gmail.com</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a class="text-muted" href="https://www.malt.fr/profile/benjaminrejaud" style="color:black">Malt</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a class="text-muted" href="https://www.linkedin.com/in/benjamin-rejaud-993b75188/" style="color:black">Linkedin</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
{% endblock content %}