{% extends "base.html" %}

{% block content %}

<section class="page-section" id="log-in">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Me contacter :</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a class="text-muted" href="mailto:benjamin.rejaud@gmail.com" style="color:black">benjamin.rejaud@gmail.com</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>

{% endblock content %}